* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  font-weight: 300;
  font-size: 2.4rem;
}

input,
button,
select {
  font-size: 1.3rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.3rem;
}

@import './components/Header';
@import './components/item';
@import './components/button';
@import './components/player';
@import './components/form';