.grid {
  display: flex;
}

.gutters {
  margin: -10px 0 10px -10px;
}

.gutters > .cell {
  padding: 10px 0 0 10px;
}

.cell {
  flex: 1;
}

.cell > div {
  color: #000;
  background-color: #fff59d;
  height: 100%;
  padding: 10px;
}
